:root {
  --accent: #2ecec5;
  --secondary: #445277;
  --dark: #0a1636;
  --background: #fcfdfe;
}

.testimonialSection {
  border: 1px solid green;
}

.testimonialHead {
  border: 1px solid magenta;
}

.testimonialHead h3 {
  font-size: 2.2em;
  font-weight: 600;
  color: var(--dark);
}
